songs.hbs
<link rel='stylesheet' href='./style.css' />

<h1>here are five songs... go wild</h1>

{{#each data}}
{{this.album_type}}
{{this.songName}}
{{this.name}}
{{this.link}}
{{this.imageSmall}}
  <!-- {{songName}}
  {{link}}
  {{imageSmall}} -->
  {{this.album_type}} -album type

{{/each}}

{{{body}}}
<script src="./bundle.js"></script>
